<link rel="stylesheet" href="~/lib/bootstrap/dist/css/design.css">
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

@{
    Layout = Constants.SetLayout();
    <div>
        <h4>Page 1 - Only Admin and Moderators can see this page!</h4>
    </div>
}
