<link rel="stylesheet" href="/css/ui.css">

@using YazilimProjeYonetimiProjesi.Controllers;

@{
    ViewData["Title"] = "Index";
    Layout = Constants.SetLayout();
}

<div>
    <h4 style="color:#ffffff">Home - All users can see this page!</h4>
</div>
