@using YazilimProjeYonetimiProjesi.Controllers;

@{
    ViewData["Title"] = "Index";
    Layout = Constants.SetLayout();
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/design.css">
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />


<h1>Index @UserInfo.UserType</h1>
